<html>
<title>"Boost Union" test environments</title>
<h1>"Boost Union" test environments</h1>
{% if not infrastructures %}
<li>No test infrastructure is set up yet.</li>
{% endif %}
{% for infrastructure in infrastructures %}
<h2><b>{{infrastructure}}</b></h2>
    <ul>
        <li>Boost Union version: {{infrastructures[infrastructure]["git_ref"]["type"]}}:{{infrastructures[infrastructure]["git_ref"]["reference"]}}</li>
        {% if not infrastructures[infrastructure]["moodles"] %}
        <li>No moodles available for this test infrastructure</li>
        {% endif %}
        {% if infrastructures[infrastructure]["moodles"] %}
        <li>Available moodles:</li>
        <ul>
            {% for moodle in infrastructures[infrastructure]["moodles"] %}
            <li><b>{{moodle}}</b></li>
                <ul>
                    <li>Status: {{infrastructures[infrastructure]["moodles"][moodle]["status"]}}</li>
                    <li>URL: <a href="{{infrastructures[infrastructure]["moodles"][moodle]["url"]}}">{{infrastructures[infrastructure]["moodles"][moodle]["url"]}}</a></li>
                    <li>Admin password: {{infrastructures[infrastructure]["moodles"][moodle]["admin_pw"]}}</li>
                </ul>
            {% endfor %}
        </ul>
        {% endif %}
    </ul>
{% endfor %}
</html>
